body {
  background: linear-gradient(41deg, #57a5c8 0%, #2b4e5e 80%);
  font-family: "Montserrat", sans-serif;
}
h1 {
  width: 300px;
  background-color: #fff;
  padding: 20px 10px 20px 10px;
  margin-left: -80px;
  margin-top: 10px;
  font-weight: bolder;
  box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.37);
}

#container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  text-align: center;
  background: #57a5c8;
  width: 360px;
  height: 500px;
  margin: auto;
  margin-top: 5vh;
  box-shadow: -5px 33px 122px 10px rgba(0, 0, 0, 0.44);
}

input {
  margin-top: 20px;
  width: 235px;
  height: 30px;
  border: none;
  
}
ul {
  text-align: left;
  list-style: none;
  margin-top: 40px;
}
li {
  background: #4a8dac;
  height: 30px;
  line-height: 30px;
  width: 240px;
}
li:nth-child(2n){
    background:#57a5c8;
  }
#container ul {
  list-style: none;
  padding-left: 0;
}
span {
  background: rgb(75, 74, 74);
  height: 30px;
  margin-right: 15px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}
li:hover span {
  width: 30px;
  opacity: 1;
}
.completed {
  color: #555;
  text-decoration: line-through;
}
span input {
  margin-right: 20px;
  padding: 0;
  width: auto;
  transition: 0.2s linear;
  opacity: 0;
}
button {
  margin: 10px;
}
